name: on-version-tagged

on:
  push:
    tags:
      - 'v*'

permissions:
  packages: write
  contents: write
  pull-requests: write

jobs:
  publish:
    uses: unbounded-tech/workflows-crossplane/.github/workflows/publish.yaml@v2.6.0
    secrets: inherit
    with:
      tag: ${{ github.ref_name }}
